#character{
  width:100%;
  height:2500px;
  
}

#charabox{
  width:1200px;
  height:2150px;
  margin:100px auto;
}

#charabox h2{
  text-align: center;
  font-size:60px;
}

#charabox h2{
  font-family:cursive;
  font-size:100px;
  text-decoration:none ;
  font-weight: bold;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  color:red;
  padding-bottom:50px;
}

#group{
  display: flex;
  justify-content: space-evenly;
}



.charaparent{
  padding-bottom:100px;
}